
Py/llm_ai/Function-Calling/keys.py
Py/llm_ai/Function-Calling/ollama_lib/keys.py
Py/local_llama/llm_ai/Function-Calling/keys.py
Py/local_llama/llm_ai/Function-Calling/ollama_lib/keys.py
Py/qt_projects/transcrever/arquivos/Gravação (42).m4a
Py/qt_projects/transcrever/arquivos/instagram.mp4
Py/qt_projects/transcrever/arquivos/gravacao.wav
Py/qt_projects/transcrever/arquivos/jensen.mp3
Py/qt_projects/transcrever/arquivos/nvidia.txt
Py/qt_projects/transcrever/arquivos/nvidia_pdf.pdf
Py/qt_projects/transcrever/arquivos/nvidia_pt.pdf
Py/qt_projects/transcrever/arquivos/transcricao_icaro.txt
Py/llm_ai/Function-Calling/ollama_lib/__pycache__/keys.cpython-311.pyc
Py/llm_ai/Function-Calling/ollama_lib/__pycache__/funcao_clima.cpython-311.pyc
